@import url(http://fonts.googleapis.com/css?family=Oswald);
*{
    padding:0;
    margin:0;
}


html, body {
  height:100%;
  margin: 0;
  padding: 0;
  
}

root { 
    display: block;
}

.centered {
text-align: center;
padding-bottom: 25px;

}


.button {
    border: none;
    color: white;
    text-shadow: -1px 1px black;
    text-align: left;
    padding: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.row#Index{
    background-color: rgba(255,255,255,0.35);
}



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.navbar-default .navbar-nav>li>a{
    color: white !important;
}
.navbar-default .navbar-brand{
    color: white !important;
}

.mainBody{
    background-color: #efefef;
    padding: 25px
}
h1 {
  font-size:80px;
  color:#cceed3;
  margin: 0px !important;
  
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    /* background-color: #035126; */
    color: #eee;
    overflow: hidden;
    background-image: URL(../Photos/LCT.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}



.v-center {
  margin: 100px -50px;
  text-align: center;
  color:white;
  text-shadow: 2px 2px black;
  font-weight: bolder;
  
}

.navbar{
  
  background-color: transparent !important;
  text-shadow: 2px 2px black;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a{
    color:white !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent !important;
    
}

.x-center {
  margin-top: 10%;
  color:white;
  text-shadow: 2px 2px black;
  font-weight: bolder;
}

.navbar-default{
    border: none !important;
    color:white;
    
}

.sub{
    font-size: 12pt !important;

}



/*GettingStarted*/

#Title{
    font-size: 22pt !important;
    font-stretch: semi-expanded;
    font-weight: bolder;
    text-align: center;
}
.section {
font-family: Oswald !important;
font-size: 16px;
font-weight: medium !important;
}
.container-getting {
    margin: auto;
    width: 100%;
    min-height: 50%;
    color: white;
    overflow: hidden !important;
    background-image: URL(../Photos/Backpacking.jpg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gettingStarted#info {
    background: #efefef;
    font-family: Oswald;
    padding:25px;
}
.list-group-item {
background: transparent !important;
border: none !important;
}
.navbar-gs {
   background: darkgrey !important;
}
ol {
    margin-top: 25px;
    margin-left: 20px;
    counter-reset: item;
}
ol > li {
    counter-increment: item;
}
ol ol > li {
    display: block;
}
ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: 20px;
}

